/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/public/cloud
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
/.fleet
/.idea
/.vscode
/storage/profile
/storage/public
/storage/app/pages.json
/storage/app/backup.sql
/public/assets/resources/icon.png
/public/assets/resources/logo.png
/public/assets/resources/logo-footer.png
/vite.config.js.timestamp*
/storage/app/*_backup.sql